

#albumCover {
    width: 100%;
    max-width: 600px; /* Adjust based on your preference */
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}






body {
    font-family: Arial, sans-serif;
    background-color:#909090;
    margin: 0;
    padding: 0;
}

header, footer {
    background:#c19a6b;
    color:white;
    text-align: center;
    padding: 1em 0;
}

nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    background-color:#89cff0;
    margin: 0;
    flex-wrap:wrap;
}

nav ul li{
    margin: 0 10px;
    flex-shrink:0;
}

nav ul li a{
    font-size: 24px;
    color:#333;
    text-decoration:underline;
    padding: 10px 20px;
    display:block;
    transition:back-ground color 0.3s;
}

nav ul li a:hover{
    background-color:none;
}

main {
    padding: 20px;
    text-align: center;
}

textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

#commentsList p {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
}




.artist-gallery{
 display:flex;
 justify-content:space-around;
 align-items: center;
 flex-wrap: wrap;
 margin-top:20px;
}

 
.artist img{
    width:150px;
    height:150px;
    border-radius:50%;
    box-shadow:0 4px 8px rgba(0,0,0,0.1);
    object-fit:cover;
}

section[id^="songs"] p{
    font-size:1.5em;
}

#comments {
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 20px auto;
}

#comments h2 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

#commentForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#commentInput {
    width: 100%;
    max-width: 500px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

#commentForm button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#commentForm button:hover {
    background-color: #555;
}

#commentsList {
    margin-top: 20px;
    max-width: 500px;
}